
{% extends 'base.html'%}

{% block content %}
<div class="container-fluid text-centered" style="padding-top:100px;padding-bottom: 200px;">
    <h1 ><span>Codewars </span>API</h1>
    <hr>
    <p >Welcome to CodeWars API.A site where you can have access to codewars challenges and share your solutions comments and likes on posted solutions</p>
    <small>AlvinNgunjiri • Collaborator | Caiseyann • Collaborator | MachokaDaisy • Collaborator | MusyokiMutua • Collaborator | MichaelOmondi • Collaborator | PeterWaithaka • Collaborator<br>MIT Copyright © 2020</small>
</div>
{% endblock content %}