<div class="navbar navbar-light" role="navigation" style="margin-bottom:2; border-bottom: 1px solid; background-color: 00/#2EA67C;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"> CODEWARS_API</a>
        </div>
        <div class="navbar-collapse collapse"><nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="/" id="logo"style="font-size:40px">CodeWars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                           <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/login"style="font-size:30px;margin-right:20%">Login</a>
                    </li>
                             <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/user"style="font-size:30px;margin-right:20%">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/logout"style="font-size:30px;margin-left:20%">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
                  <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="/" id="logo"style="font-size:40px">CodeWars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                           <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/login"style="font-size:30px;margin-right:20%">Login</a>
                    </li>
                             <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/user"style="font-size:30px;margin-right:20%">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login-text text-black" href="/logout"style="font-size:30px;margin-left:20%">Log out</a>
                    </li>
                </ul>
            </div>
        </nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home page</a></li>
                    <li><a href="{{url_for('main.assessments')}}">Assessments</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                            <li><a href="{{url_for('main.user_assessments',uname=current_user.username)}}">COMPLETED ASSESSMENTS</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}">Log in</a></li>
                </ul>
                {%endif%}
            </div>
    </div>
</div>
